@media (max-width: 2024px){
    body{
        background-image: url(./images/background.png);
        font-family: 'Raleway', sans-serif;
    }
    
    .wrapper > div{
        padding: 1em;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 10px 10px 20px  rgb(78, 75, 75);
        border: 1px solid rgb(7, 197, 245);
    }
    
    .wrapper{
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px auto);
        grid-gap:1em;
        justify-content: center;
    }
    
    .header{
        grid-column: 1/1;
        grid-row:1/2;
        text-align: center;
    }

    .profile-pic{
        width: 200px;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        transform:rotate(-4deg);
        border-bottom-right-radius:60px 15px;
    }
    
    .education{
        grid-column: 1/1;
        grid-row:2/3;
    }

    .logo{
        background-position: center;
        width: 400px;
    }

    .cv{
        grid-column: 2/5;
        grid-row: 1/2;
    }

    .cv-items{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        align-content: center;
    }

    .ex-items{
        grid-column: 1/2;
        grid-row:1/3;
        text-align: center;
    }

   .experience{
       display: grid;
       grid-gap: 1em;
       grid-template-columns: 1fr;
       grid-auto-rows: 1fr;
       align-content: center;
   }

    .portfolio{
        grid-column: 2/3;
        grid-row:2/3;
        text-align: center;
    }
    
    .portfolio-grid{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }
    
    .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8,
    .pic9, .pic10, .pic11, .pic12{
        width: 100px;
        border: 3px solid rgb(7, 197, 245);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        transition: transform .4s;
    }

    .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover, .pic5:hover,
    .pic6:hover, .pic7:hover, .pic8:hover, .pic9:hover, .pic10:hover, .pic11:hover, .pic12:hover{
        transform: scale(4);
    }    
    
    figure {
        margin: 0;
        padding: 0;
    }

    figcaption {
        padding: 10px;
        text-align: center;
    }

    .blog{
        grid-column: 3/5;
        grid-row: 2/3;
        text-align: center;
    }
    
    .dock, .bench, .book, .beach{
        width:200px;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        margin-top: 5px;
    }
    
    li{
        list-style: none;
        font-size: 14px;
    }
    
    h1{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: -2px;
    }
    
    h2{
        font-size: 16px;
        color: rgb(5, 109, 92);
        margin-bottom: -10px;
        margin-top: 5px;
    }

    h3{
        font-size: 23px;
        margin-top: 5px;
        margin-bottom: 10px;
    }    

    h4{
        font-size: 18px;
        color: rgb(5, 109, 92);
        margin-bottom: -3px;
    }

    h5{
        font-size: 25px;
        margin-bottom: -15px;
            
        }
    }
    
    @media (max-width: 480px){
        body{
            background-image: url(./images/background.png);
            background: stretch; 
        }
        
        .wrapper > div{
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 10px 10px 20px  rgb(78, 75, 75);
            border: 1px solid rgb(7, 197, 245);
        }
        
        .wrapper{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap:1em;
            text-align: center;
        }
        
        .header{
            grid-column: 1;
            grid-row:1/2;
            text-align: center;
        }
    
        .cv{
            grid-column: 1;
            grid-row: 2/3;
            text-align: center;
        }
        
        .cv-items{
            align-content: center;
        }

        .portfolio{
            grid-column: 1;
            grid-row:3/4;
            text-align: center;
        }
    
        .portfolio-grid{
            grid-column: 1;
            grid-row:3/4;
            text-align: center;
        }
        
        .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9{
            width: 50px;
            border: 1px solid rgb(7, 197, 245);
            box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
            text-align: center;
        }
    
        .blog{
            grid-column: 1;
            grid-row: 4/5;
            text-align: center;
        }
        }
