@media (max-width: 480px){
    html, body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-image: url(/Users/Giger/Desktop/week3/images/bricks.png); 
        background-attachment: scroll;    
    }

    #header{
      
        color: black;
        background-color:white;
        opacity: 0.8;
    }

    #CV{
    
        color:black;
        background-color:white;
        opacity: 0.8;
    }

    #profile-pic{
        width: 50px;
        padding: 5px;
    }
}

@media (max-width: 1024px){
    html, body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-image: url(/Users/Giger/Desktop/week3/images/bricks.png); 
        background-attachment: scroll;    
    }

    #grid{
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(8, 12.5%);
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
    }

    #profile-pic{
        grid-column: 1/3;
        grid-row: 1/3;
        width: 150px;
        margin-left: 15%;
        margin-top: 10%;
        background-color: white;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        transform:rotate(-4deg);
        border-bottom-right-radius:60px 15px;
    }  

    #header{
        grid-column: 1/3;
        grid-row: 1/9;
        background-color:white;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 10px 10px 20px  rgb(78, 75, 75);
    }

    #cv{
        grid-column: 3/9;
        grid-row: 1/3;
        color:black;
        background-color:white;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 10px 10px 20px  rgb(78, 75, 75);
        opacity: 0.8;
}
    li{
        margin-left: 20%;
    }

    #portfolio{
        grid-column: 3/6;
        grid-row: 3/9;
        color:black;
        background-color:white;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 10px 10px 20px  rgb(78, 75, 75);
        opacity: 0.8;
    }

    #hand1{
        width: 150px;
        grid-column: 3/4;
        grid-row: 3/5;
    }

    #hand2{
        width: 150px;
        grid-column: 4/5;
        grid-row: 3/5;
    }

    #logo{
        width: 150px;
        grid-column: 5/6;
        grid-row: 3/5;
    }

    h2, h3{
        font-size: 14px;
        padding: 15px;
    }

    h1{
        font-size: 16px;
        margin-left: 15%;
    }

    p{
        font-size: 12px;
        margin-left: 15%;
    }

    #blog{
        grid-column: 6/9;
        grid-row: 3/9;
        color: black;
        background-color:white;
        border: 1px solid rgb(7, 197, 245);
        box-shadow: 10px 10px 20px  rgb(78, 75, 75);
        opacity: 0.8;
    }

}